<div class="form-group">
    <label class="col-sm-2 control-label" for="language">{{__('language')}}</label>

    <div class="col-sm-10">
        <select ui-jq="chosen" id="language"
                class="w-md"
                ng-model="settings.language">
            <option
                    ng-repeat="lang in supportedLangs"
                    value="{{lang}}">
                {{lang}}
            </option>
        </select>
        <span class="help-block m-b-none" ng-bind-html="__('language_info')"></span>
    </div>
</div>